<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerifyOtp</title>
</head>
<body>
   <form action = '/verify' method = 'POST'>
        <input type="text" placeholder="enter otp" name = 'otp'>
        <input type="submit">
   </form>
    
</body>
</html>